<div class="container">
  <header class="border-bottom lh-1 py-1">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid px-0">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">

            {% assign title = "Home" %}
            <a {% include get-navlink-item-class %} href="{{ site.baseurl }}/">{{ title }}</a>

            {% assign title = "Sobre" %}
            <a {% include get-navlink-item-class %} href="{{ site.baseurl }}/about">{{ title }}</a>

            <a class="nav-link" href="#">Blog</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>

            {% assign title = nil %}

          </div>
        </div>
      </div>
    </nav>  
  </header>
</div>
<!-- option for a active-page-path-bar - needs page.level variable in pages front matter -->
  <div class="container-fluid p-0">
    <div class="text-bg-dark border-top border-bottom border-5 border-secondary">
      <div class="container py-1">
        <small class="mx-1"><a href="{{ site.baseurl }}/" class="link-primary">Home</a>
          {% if page.level >= 1 %} | {{ page.title }} {% endif %}
        </small>
      </div>
    </div>
</div>