---
layout: default
---
<div class="container-lg px-0">
  <div class="row justify-content-start align-items-start">
    <div class="col-md-auto text-start d-none d-xl-block">
      <img class="img-thumbnail" width="300px" src="{{ site.baseurl }}{{ page.image1 }}" alt="{{ page.alt_image1 }}">
      <br>
      {% if page.image2 == nil %}
      {% else %}
        <img class="img-thumbnail" width="300px" src="{{ site.baseurl }}{{ page.image2 }}" alt="{{ page.alt_image2 }}">
      {% endif %}
    </div>
    <div class="col-md-8 text-start text-md-start">
      <p class="h2">Claudio Secco</p>
      <p class="h5 text-muted">{{ page.residence }}</p>
      <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/claudio.secco" class="link-secondary"><i class="bi bi-instagram"></i></a>
      <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/claudiosecco" class="link-secondary"><i class="bi bi-linkedin"></i></a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/claudiosecco" class="link-secondary"><i class="bi bi-github"></i></a>
      <a target="_blank" rel="noopener noreferrer" href="https://youtube.com/clvsecco" class="link-secondary"><i class="bi bi-youtube"></i></a>
      <a target="_blank" rel="noopener noreferrer" href="mailto://claudiosecco@hotmail.com" class="link-secondary"><i class="bi bi-envelope"></i></a>
      
      <p class="lead my-2 text-muted">{{ page.welcome_message }}</p>
      
      {% if page.english_version_link != nil %}
        <div style="text-align: right;">
          <a href="{{ site.baseurl }}{{ page.english_version_link }}" style="font-size: smaller;">English Version</a>
        </div>
      {% endif %}
      
      <div class="text-muted">
        {{ content }}
      </div>
    </div>
  </div>
</div>